.container {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5rem;
}
p {
  font-weight: bolder;
}
.icons {
  border: 2px solid red;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  background-color: rgb(226, 225, 225);
}
i {
  font-size: 3rem;
}
button:hover {
  transform: scale(105%);
}
button:active {
  transform: scale(95%);
}
button {
  border: none;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}
.rockBtn {
  background-color: rgb(3, 153, 253);
}
.paperBtn {
  background-color: red;
}
.scissorsBtn {
  background-color: rgb(3, 207, 3);
}
.scores {
  width: 60%;
  margin: auto;
  border: 2px solid red;
  background-color: rgb(226, 225, 225);
  border-radius: 10px;
}
.myScore {
  color: rgb(0, 140, 255);
}
.ComputerScore {
  color: red;
}
